.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.img {
  width: 20px;
  height: 20px;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.Icons {

  font-size: 19px;
  display: flex;
  margin: 100px;

  justify-content: space-between;

  position: sticky;

}

@media (max-width: 414px) {
  .flex-grid {
    display: block;
  }
}



.App-header {
  background-color: #f5f5ed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
